<div style=" width: 100%; justify-content: center;" class="container">
    <div class="row" style="display: flex;">
        <label class="container">
            <input type="checkbox" (click)="toogleMovieTv($event)" id="check">
            <span></span>
            <label class="shadow" for="check"></label>
        </label>
    </div>
    <div class="row">
        <div style=" overflow:hidden;">
            <app-cards [FETCHED_DATA]="FETCHED_DATA" [TYPE_OF_FETCHED_DATA]="TYPE_OF_FETCHED_DATA"
                style="display: flex; gap: 1rem; overflow-x: scroll;"></app-cards>
        </div>
    </div>

</div>
<router-outlet></router-outlet>